.heroBanner {
  padding: 2rem;
  background-color: #f0f0f0;
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.tools {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f3f5;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}
.yellow {
  background-color: #ffbd44;
}
.green {
  background-color: #00ca4e;
}

.content {
  padding: 3rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  color: #000000;
}

.title {
  font-size: 3rem;
  margin-bottom: 0rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.cta {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  margin: 0 auto;
  border-radius: 12px;
}

.cta::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: 0.3s;
  mix-blend-mode: difference;
}

.cta:hover::before {
  transition-duration: 0.3s;
  transform: translate(100%, -50%);
  border-radius: 0;
}

.cta:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}

@media (max-width: 768px) {
  .content {
    padding: 2rem;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}
