.header {
  padding: 2rem;
  background-color: #f0f0f0;
}

.headerCard {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.headerCard:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.tools,
.modalTools {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f3f5;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.headerCard:hover .box {
  transform: scale(1.2);
}

.red {
  background-color: #ff605c;
}
.yellow {
  background-color: #ffbd44;
}
.green {
  background-color: #00ca4e;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.icon {
  margin-right: 0.5rem;
  font-size: 1.8rem;
}

.navLinks {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navLinks li {
  margin-left: 1.5rem;
}

.navLink {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.navLink::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #000000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navLink:hover {
  color: #000000;
}

.navLink:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.cartContainer {
  position: relative;
}

.cartLink {
  font-size: 1.5rem;
}

.cartModal {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 250px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  pointer-events: auto;
  overflow: hidden;
}

.cartPreview {
  padding: 1rem;
}

.cartPreview h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.viewCartButton {
  display: inline-block;
  width: 50%;
  padding: 0.5rem;
  background-color: rgb(15, 15, 15);
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-weight: 600;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  z-index: 1;
}

.viewCartButton::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: white;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.viewCartButton:hover::before {
  width: 105%;
}

.viewCartButton:hover {
  color: rgb(15, 15, 15);
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navLinks {
    margin-top: 1rem;
    flex-direction: column;
  }

  .navLinks li {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }

  .cartModal {
    width: 100%;
    left: 0;
  }
}
